- content_for :heading do
  %img{:src => asset_path('slim.png')}
  .login
    - if session[:uid].present?
      %div
        = session[:name]
      %div
        = image_tag session[:avatar]
      %div
        = session[:provider]
      %div
        %img{:src => "/images/authbuttons/png/#{session[:provider]}_32.png"}
      %div
        = link_to "Sign out", sign_out_path, :rel => "external"
    - else
      %div
%div
  %h3 hihi
  = link_to image_tag(asset_path("facebook.png")), "/auth/facebook", :rel => "external"

  